html{
    background-color: rgb(240, 240, 240);
   font-family: 'Times New Roman', Times, serif;
    
}
body a{
    text-decoration: none;
}
body ul{
    list-style: none;
}
body{
    margin: 0px;
    background-image: url("./images/bodybackground1.jpg");
    background-size: 100%;
}
main{
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}
header{
    background-color: black;
    height:6vh;
}
.header-container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 100%;
    justify-content: space-between;
}
nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
header ul{
    display: flex; 
    align-items: center;
    gap: 20px;
}
header ul:first-child{
    width: 50%;
}
header  img{
    height: 100%;
}
header ul li{
    font-size: 1.25rem; 
}
header ul li a{
    color: rgb(255, 255, 255);
}
section:first-child{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.mainimg {
    width: 50%;
    position: relative;
    height: 50vh;
    transition: all .5s;
}
.mainimg img{
   height: 100%;
   width: 100%;
   
}
.mainimg:hover{
    transform: scale(1.05) ;
}
.mainimg2{
    width: 50%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
}

.divimg:hover{
    transform: scale(1.05) ;
}
.divimg img{
    width: 100%;
    height: 100%;
    transition: all .5s;
}
.divimg{
    height: 50%;
    width:50%;
    transition: all .5s;
    position: relative;
}
section:first-child h1{
    position:absolute;
    color:white ;
    padding: 5px;
    top: 350px;
    font-size: 30px;
    text-shadow: 5px 5px 5px black, -5px -5px 5px black;
}
section:first-child h2{
    position: absolute;
    top:120px;
    left: 20px;
    color: white;
    text-shadow: 5px 5px 5px black, -5px -5px 5px black;
}
section:nth-child(2){
    position: relative;
    margin: 0;
    display: flex;
}
section:nth-child(2) h1{
    font-size: 2rem;
    margin: 10px;
}
.dailynews img{
    width: 30%;
    height: 150px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
}
.left-side{
    width: 70%;
}
.dailynews{
    display: flex;
    margin:10px;
   
}
.dailynews div  {
    width: 70%;
    padding: 10px;
}
.dailynews div h2:hover{
    color: rgb(132, 0, 255);
}
.right-side{
    width:30%;
    display: flex;
    flex-direction: column;
}
.right-side h2:hover{
    color: rgb(132, 0, 255);
}
video{
    height: 200px;
    border-radius: 20px; 
    width: 100%; 
}
.right-side h2{
    margin: 10px;
}
footer{
    background-color: black;
    color: aliceblue;
    position: relative;
    width: 100%;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.footer-up{
    display: flex;
    height: 160px;
   justify-content: space-between;
   align-items: center;
}
.footer-up ul{
    display: flex;
    gap:70px;
    font-size: 1.5rem;
}
.footer-up ul li a{
    color: white;
}
.footer-up img{
   width: 100px;
}
.footer-down ul li img{
    height: 20px;
}
.footer-down{
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid white;
}
.footer-down ul{
    display: flex;
    gap: 20px;
}