html{
    background-color: rgb(240, 240, 240);
   font-family: 'Times New Roman', Times, serif;
    
}
body a{
    text-decoration: none;
}
body ul{
    list-style: none;
}
body{
    margin: 0px;
    background-image: url("./images/bodybackground1.jpg");
    background-size: 100%;
}
main{
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: url("./images/bodybackground1.jpg");
    background-size: 100%;
}
header{
    background-color: black;
    height:6vh;
}
.header-container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 100%;
    justify-content: space-between;
}
nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
header ul{
    display: flex; 
    align-items: center;
    gap: 20px;
}
header ul:first-child{
    width: 50%;
}
header  img{
    height: 100%;
}
header ul li{
    font-size: 1.25rem; 
}
header ul li a{
    color: rgb(255, 255, 255);
}
.rightside{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
}
section h2{
    width: 80%;
    margin-top: 20px;  
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 0.5px solid grey;    
}
.rightside section{
   width: 45%;
}
.allteams{
    width: 90%;
    font-size: large;
    font-weight:bolder;  
}
.Utah{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.Utah a{
    color: rgb(0, 0, 0);
}
.Utah:hover a{
    color: rgb(2, 64, 235);
}
.Utahlogo{
    height: 50px;
}
.leftside{
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    
}
.leftside h1{
    width: 80%;
}
.leftside div{
    width: 80%;
    border-top:0.5px solid grey;
    display: flex;
    justify-content: space-between;
}
.leftside ul{
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    align-items: center;
}
.leftside img{
    height: 50px;
}

footer{
    background-color: black;
    color: aliceblue;
    position: relative;
    width: 100%;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.footer-up{
    display: flex;
    height: 160px;
   justify-content: space-between;
   align-items: center;
}
.footer-up ul{
    display: flex;
    gap:70px;
    font-size: 1.5rem;
}
.footer-up ul li a{
    color: white;
}
.footer-up img{
   width: 100px;
}
.footer-down ul li img{
    height: 20px;
}
.footer-down{
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid white;
}
.footer-down ul{
    display: flex;
    gap: 20px;
}

